{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": "./tsconfig.json"
  },
  "plugins": [
    "@typescript-eslint"
  ],
  "extends": [
    "airbnb-base",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "worker": true
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "semi": ["error", "never"],
    "brace-style": ["error", "stroustrup"],
    "@typescript-eslint/indent": ["error", 2],
    "no-new": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "lines-between-class-members": ["error", "always", {
      "exceptAfterSingleLine": true
    }],
    "no-multi-assign": "off",
    "@typescript-eslint/member-delimiter-style": ["error", {
      "singleline": {
        "delimiter": "comma"
      },
      "multiline": {
        "delimiter": "none"
      }
    }],
    "@typescript-eslint/explicit-function-return-type": ["error", {
      "allowExpressions": true,
      "allowTypedFunctionExpressions": true
    }],
    "no-dupe-class-members": "off"
  },
  "overrides": [
    {
      "files": ["test/**/*.*"],
      "env": {
        "mocha": true
      },
      "globals": {
        "expect": "readonly",
        "Sinon": "readonly",
        "stub": "readonly"
      },
      "rules": {
        "@typescript-eslint/explicit-function-return-type": ["warn", { "allowExpressions": true }],
        "no-unused-expressions": "off"
      }
    }
  ]
}
